#### 문제
1. 데이터에서 결측치가 있는 데이터(행)을 모두 제거하시오
2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70% 데이터를 구하시오. (단, 데이터 70% 지점의 index가 소수 점으로 계산될 경우 소수점 이하는 버림)
3. 앞에서 구한 70% 데이터 중 'views' 컬럼의 3사분위수에서 1사분위수를 뺀 값을 정수로 구하시오.

In [1]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

#### 풀이

In [2]:
# 결측치가 있는 행 제거
df.dropna(inplace=True)

# 70% 지점
end = int(len(df) * 0.7)

# 70% 데이터 슬라이싱
df = df.iloc[:end]

# 3사분위수, 1사분위수
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

#### 출력

In [3]:
print(int(q3-q1))

2771