#### 문제
1. 'views' 컬럼 값이 1000 이하인 데이터(결측치 제외)를 찾으시오.
2. 앞에서 구한 데이터 중 'f4' 컬럼의 최빈값을 구하시오.

In [1]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

#### 풀이

In [2]:
# views수가 1000 이하
cond = df['views'] <= 1000
df = df[cond]

# f4 컬럼 종류별 개수
df = df['f4'].value_counts()

# f4 컬럼 최빈값
print(df.index[0])

ISFJ